classes
eclipsebin
gensrc
.pmd
*.iml
build.xml
extensioninfo.xsd
platformhome.properties
ruleset.xml
velocity.log
beans.xsd
items.xsd
hmc.xsd
*-testclasses.xml
addonsrc
**/tags/addons
**/tld/addons
**/views/addons
**/messages/addons
**/_ui/addons
*-testclasses.xml
*-webtestclasses.xml
testclasses
**/resources-lang/touch_impexgen
**/yb2bacceleratorstorefront/web/webroot/*cockpit/**
**/node_modules
*.iml
*/.idea
rebel.xml
**/hmc/bin
build.info
.DS_Store
**/*addon/project.properties
**/assistedservicestorefront/project.properties
**/defaultsite/project.properties
**/ysapcustdevsolutionconfigb2bfrontend/project.properties
*/ext-sap/**
/ext-sap/**
hycloudext/
sscupload/web/commonwebsrc/