.additional_button {
        margin-left:3px;
}

.submitRemoveSolutionProduct, .updateSolutionQuantityProduct{
    display: block;
    text-align: center;
    text-decoration: underline;
}

.solution-config-find-related-product{
	margin-top:75px;
}

.cpq-config-page span.devmode {
    color: #66512c;
    cursor: text;
    background-color: #eee;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}

.cpq-config-page.devmode .cpq-csticValueLabel {
    white-space: normal;
}

.cpq-config-page span.devmode span {
    font-weight: bold;
    color: #0068b3;
}

.cpq-cstic-value-with-image span.devmode {
    display: block;
    max-width: 125px;
    margin-left: 0;
    word-break: break-all;
}

.cpq-cstic-value-with-image span.devmode span {
    display: block;
}

.cpq-csticValueLabelWithoutSelect.devmode {
    display: inline-block;
}